{% extends 'base.html' %}

{% block content %}
<h1 class="" id="reg-title">Register a new account</h1>

<!-- Registration form from forms.py -->
<form action="" method="post" id="reg-form">
    {{ form.hidden_tag() }}
    <div class="form-group col-4">
        <fieldset>
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Username") }}
        </fieldset>
        <fieldset>
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Email") }}
        </fieldset>
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password")}}
        </fieldset>
        <fieldset>
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password")}}
        </fieldset>
        <br>
        {{ form.submit(class="btn btn-success")}}
    </div>
</form>
{% endblock content %}